---
layout: default
---

<!-- Start Hero -->
<div class="hero"
     style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
         <img src="img/logo.jpg" alt="...">

        </div>
    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div id="clock-o" class="three-shade-col">

    <div class="col-sm-4">
        <svg class="icon icon-clock-o">
            <use xlink:href="#icon-clock-o"></use>
        </svg>
        <h3>Ortodoncie</h3>
        <table>
            <tbody>
            <tr>
                <td>Pondělí</td>
                <td>7:00 – 12:00</td>
            </tr>
            <tr>
                <td>Středa</td>
                <td>7:00 – 12:00</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">Na objednání volejte pondělí a středa 7-12</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o">
            <use xlink:href="#icon-clock-o"></use>
        </svg>
        <h3>Dentální hygiena</h3>
        <table>
            <tbody>
            <tr>
                <td>Pondělí</td>
                <td>13:00–16:00</td>
            </tr>
            <tr>
                <td>Středa</td>
                <td>13:00–16:00</td>
            </tr>
            <tr>
                <td>Čtvrtek</td>
                <td>8:00–12:00  13:00-16:00</td>
            </tr>
            <tr>
                <td>Pátek</td>
                <td>8:00–12:00  13:00–16:00</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">Na objednání volejte pondělí a středa 7-12</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o">
            <use xlink:href="#icon-envelope-o"></use>
        </svg>
        <h3>Kontakty</h3>
        <ul>
            <li><strong>Telefon:</strong> {{ site.contact.phone }}</li>
            <li><strong>Mobil:</strong> {{ site.contact.phone2 }}</li>
            <li><strong>Email:</strong> {{ site.contact.email }}</li>
            Poliklinika II - levé křídlo <br/>(vchod od hotelu Alessandria) <br/> Bratří Štefanů 895 <br/> Hradec Králové
        </ul>

    </div>
</div>
<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Ortodoncie</h2>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Provádíme rovnání zubů pomocí fixních a snímatelných rovnátek. Pro ortodontickou léčbu
                    zejména fixními aparáty (rovnátky na pevno) je nezbytná vynikající ústní hygiena, proto od
                    svých pacientů vyžadujeme návštěvu dentální hygienistky, a to před nasazením rovnátek i
                    v průběhu léčby. Dentální hygienu nabízíme rovněž externím pacientům. Pokud nejsou zuby
                    s rovnátky dobře čištěny, mohou vzniknout kolem zámečků bílé skvrny a špatná hygiena
                    může být také důvodem předčasného sejmutí aparátu. Proto na ústní hygienu klademe
                    obzvláště důraz.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-user-md">
                        <use xlink:href="#icon-user-md"></use>
                    </svg>
                    <h4>Fixní aparáty:</h4>
                    <p>
                        Používáme je ve stálém chrupu a v některých případech i v chrupu smíšeném.
                        Skládají se ze zámků, které se lepí na zuby a oblouků, které se vážou do zámků pomocí různě barevných gumiček nebo kovových drátků a zuby pohybují.
                        Chcete-li si vybrat svou barevnou kombinaci, přejděte na stránku:
                        Zámky mohou být klasické ocelové, pozlacené nebo keramické či safírové, pokud preferujete
                        estetičtější variantu. Oblouky nabízíme taktéž klasické kovové, pozlacené nebo bílé. Aparátky
                        bývají v ústech průměrně 2-3 roky, cena není jednorázová a je rozložena do jednotlivých
                        návštěv. Kontroly bývají po 6 týdnech.
                    </p>
                    <p>Cena: 20 000 – 30 000 Kč</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-user-md">
                        <use xlink:href="#icon-user-md"></use>
                    </svg>
                    <h4>Snímací aparáty:</h4>
                    <p>
                        Používáme zejména ve smíšeném chrupu. Jedná se o pryskyřičnou destičku
                        se šroubkem upevněnou na zuby drátky, která se dá snadno nasadit a zase sundat. Šroubkem
                        se doma pravidelně otáčí, aby destička ovlivňovala postavení zubů. Nosí se odpoledne a na
                        noc. Kontroly bývají po 2 měsících.
                    </p>
                    <p>Cena: 1400-1900 Kč</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-user-md">
                        <use xlink:href="#icon-user-md"></use>
                    </svg>
                    <h4>Invisalign:</h4>
                    <p>
                        Invisalign (neviditelná rovnátka). Jedná se o sekvenci několika folií, které jsou průhledné a
                        snadno se nasazují a zase sundávají. Nosí se celodenně, nejsou na zubech viditelné. Cena se
                        pohybuje kolem 80 000 Kč, ale je možné dohodnout i splátkový kalendář.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Treatments -->
<div id="treatments2" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Dentální hygiena</h2>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Správná péče o dutinu ústní je základním kamenem v moderní
                    stomatologii. Nedostatečné odstranění zubního plaku při každodenní hygieně je rizikovým
                    faktorem pro vznik zánětu dásní a paradentózy. Během návštěvy dentální hygieny Vám
                    pomůžeme s výběrem vhodné velikosti mezizubních kartáčků a nacvičíme s Vámi správnou
                    techniku čištění. Součástí ošetření je odstranění zubního kamene a odstranění pigmentací
                    speciální pastou či pískováním. Samozřejmostí je nanesení přípravku s obsahem fluoridů pro
                    posílení zubní skloviny vůči zubnímu kazu. Během ortodontické léčby je důsledná péče velice
                    důležitá. Rovnátka čištění komplikují, proto včasná rada a výběr vhodných pomůcek pomůže
                    zabránit vzniku zubního kazu a zánětu dásní, který může být důvodem k předčasnému
                    ukončení ortodontické terapie.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-user-md">
                        <use xlink:href="#icon-user-md"></use>
                    </svg>
                    <h4>Profesionální čištění zubů:</h4>
                    <p>
                        Provádíme profesionální čištění zubů, odstranění zubního kamene, nácvik ústní hygieny v ústech pacienta,
                        pískování zubů (air flow), scaling (odstranění zubního kamene pod dásní), fluoridaci (aplikaci gelu s obsahem fluoridů), odstranění pigmentací, bílých a jiných skvrn, bělení zubů, aplikaci dentálních šperků
                    </p>
                    <p>Cena: 350-1000 Kč</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-user-md">
                        <use xlink:href="#icon-user-md"></use>
                    </svg>
                    <h4>Bělení zubů:</h4>
                    <p>
                        V naší ordinaci používáme bělení Pure whitening, které kombinuje bělení domácí a ordinační.
                        Nejprve se 14 dní bělí doma v individuálně zhotovených nosičích a 15.den dobělíme zuby v ordinaci.
                        Není třeba dodržovat bílou dietu (zříci se kávy, čaje apod.) a pokud dodržujete bělicí protokol, pak je výsledek bělení stabilní.
                    </p>
                    <p>Cena: 5500 Kč</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-user-md">
                        <use xlink:href="#icon-user-md"></use>
                    </svg>
                    <h4>ICON infiltrace:</h4>
                    <p>
                        Používá se k odstranění bílých skvrn na zubech. Nejprve se zub naleptá slabou kyselinou a poté se nanese ICON (tekutá pryskyřice).
                    </p>
                    <p>Cena: 1000 Kč za zub</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon icon-user-md">
                        <use xlink:href="#icon-user-md"></use>
                    </svg>
                    <h4>Aplikace dentálních šperků:</h4>
                    <p>
                        Jedná se o nalepení kamínku na libovolný zub. Používáme kamínky Skyce v různých barvách.
                    </p>
                    <p>Cena: 300 Kč</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<div id="team" class="team">
    <h2 class="section-title">Náš tým</h2>
    <div id="team-carousel">
        {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom"
                   title="{{ member.email }}">
                    <svg class="icon icon-envelope">
                        <use xlink:href="#icon-envelope"></use>
                    </svg>
                </a>
                </a>
                <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom"
                   title="{{ member.phone }}">
                    <svg class="icon icon-phone">
                        <use xlink:href="#icon-phone"></use>
                    </svg>
                </a>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- End Our team -->
<!-- Start Gallery -->
<div id="gallery" class="gallery">

    <h2 class="section-title">Fotogalerie</h2>

    {% for images in site.data.gallery %}
    <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}"
       class="gallery-item expandable-box image-link">
        <div class="expandable-box-top">
            <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
        </div>
        <div class="expandable-box-bottom">
            <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
        </div>
    </a>
    {% endfor %}
    <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}"
       class="gallery-item expandable-box image-link">
        <div class="expandable-box-top">
            <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
        </div>
        <div class="expandable-box-bottom">
            <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
        </div>
    </a>

</div>
<!-- End Gallery -->
<div id="gdpr" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Ochrana osobních údajů</h2>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    V souvislosti s nařízením Evropského Parlamentu a Rady (EU) č. 2016/679  o ochraně osobních údajů - General Data Protection Regulation (GDPR) jsme aktualizovali smluvní podmínky ke dni 25. 5. 2018. V rámci poskytování služby se nic nemění, přesto bychom Vás rádi informovali o změnách, které se nařízení týkají, konkrétně v jakém rozsahu nakládáme s osobními údaji, pro jaké účely je využíváme a jaká máte práva v souvislosti s Vašimi osobními údaji.
                    Kompletní smluvní dokumentaci si můžete projít níže:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>

                </p>
            </div>
        </div>
    </div>
</div>
<!-- Start Map -->
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}"
     data-address-details="<img src='{{ site.map.address_details }}'>"></div>

<!-- End Map -->





